<div class="mt-4 mb-4">
  <div class="warranty-loader-big">
    <video
      width="640"
      height="360"
      type="video/mp4"
      playsinline
      loop
      autoplay
      [muted]="true"
    >
      <source src="assets/icons/WD_loading_gif.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="warranty-loader">
    <video
      width="460"
      height="260"
      type="video/mp4"
      playsinline
      loop
      autoplay
      [muted]="true"
    >
      <source src="assets/icons/WD_loading_gif.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="warranty-loader-small">
    <video
      width="300"
      height="170"
      type="video/mp4"
      playsinline
      loop
      autoplay
      [muted]="true"
    >
      <source src="assets/icons/WD_loading_gif.mp4" type="video/mp4" />
    </video>
  </div>
</div>
