<div class="main-div">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="area-main">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="col-12 text-center">
                  <h1 class="text-center"><strong>SITE ERROR</strong></h1>
                  <!-- center logo.png from assets/icons in a div -->
                  <div class="logo">
                    <img
                      src="assets/icons/logo.png"
                      alt="logo"
                      class="img-fluid"
                      style="height: 100%"
                    />
                  </div>
                  <div class="error-image"></div>
                  <div class="content_box_error">
                    <h3 class="h2">
                      <strong>Hi, looks like Something went wrong</strong>
                    </h3>
                    <p>
                      Make sure you are on the right domain and on the right
                      page
                    </p>
                    <p>Incognito browser is also not allowed</p>
                    <a href="public" class="primary-btn">Go to Home</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
